$SCard: 1vw;
$SCardWidth: 20vw;
$SCardHeight: 30vw;
$SBorderWidth:0.1vw;
$SCardDivTitleHeight:5vw;
$SCardH2Size:2vw;
$SCardH3Size:1.5vw;
$H3SizeInner:10%;
$SCardMiddleSize:100%;
$textSize:1vw;
$heightImageCard:19.6875vw;
$buttonCardRadius:4vw;
$choixRadius:2vw;
$underLineSize:0.2vw;
$inputBorderRadius:0.4vw;

