@mixin registerInputs {
    display: flex;
    justify-content: space-between;
    gap: 1vw;

    label {
        font-size: $textSize;
    }

    input {
        width: 20vw;
        height: 3vw;
        font-size: $textSize;
        border: none;
        background-color: $ghost-white;
        border-radius: 0.4vw;
        padding-left: 0.2vw;
    }

    input::placeholder {
        left: 50%;
        color: $GX;
        font-size: $textSize;
    }
}