.main-home-disconnect__slider {
    margin-left: auto;
    margin-right: auto;
    height: 20vw;
    overflow: hidden;
    width: 100vw;

    &__div {
        margin: auto;
        object-fit: cover;
        height: 100%;
        width: 100%;

        &__div-1 {
            height: 100%;
            width: 100%;

            &__img {
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }

        &__div-2 {
            height: 100%;
            width: 100%;

            &__img {
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }

        &__div-3 {
            height: 100%;
            width: 100%;

            &__img {
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }
    }
}