footer{
    height: 4rem;
    width: auto;
    background-color: $BF;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: $ghost-white;
    font-size: $textSize;

    p{
        margin-top: auto;
        margin-bottom: auto;
        height: 2rem;
        color: $ghost-white;
        margin-left: 2vw;
    }

    a{
        margin-top: auto;
        margin-bottom: auto;
        height: 2rem;
        color: $ghost-white;
        text-decoration: none;
    }

    a:hover{
        color: $RODM;
    }

    .droite{
        margin-right: 2vw;
    }
}