.article-subnavbar{
    display: flex;
    justify-content: space-around;
    height: 3vw;
    width: 100vw;
    border-top: solid $SBorderWidth $BF;
    border-bottom: solid $SBorderWidth $BF;
    margin-top: 1vw;
    background-color: white;

    // a{
    //     height: 3.5vw;
    //     width: 15vw;
    // }

    a {
        background-color: white;
        border: solid $SBorderWidth $RODM;
        font-size: $textSize;
        text-decoration: none;
        text-align: center;
        border-radius: 0.5vw;
        height: 2vw;
        display: block;
        width: 9vw;
        color: $NNAC;
        margin-top: 0.5vw;
    }

    .delete{
        background-color: white;
        border: solid $SBorderWidth $RODM;
        font-size: $textSize;
        text-decoration: none;
        text-align: center;
        border-radius: 0.5vw;
        height: 2vw;
        display: block;
        width: 9vw;
        color: $NNAC;
        margin-top: 0.5vw;
    }

    & a:hover {
        color: $BF;
        background-color: $BG;
    }
}